.itemdetailcontainer {
    display: flex;
    align-items: flex-start;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 900px;
    margin: 20px auto;
  }
  
  .itemdetailcontainer:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-image-container {
    flex: 1;
    padding: 20px;
  }
  
  .product-detail-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-detail-content {
    flex: 2;
    padding: 20px;
  }
  
  .product-detail-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-detail-price {
    font-size: 1.5rem;
    color: #27ae60;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .product-detail-description {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
  }


  .product-image-container {
    display: flex;
    align-items: center;
  }
  
  .product-image-container .secondary-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px; /* Ajusta el ancho para que se vea acorde al diseño */
    margin-right: 10px; /* Espacio entre las imágenes secundarias y la principal */
  }
  
  .product-image-container .secondary-images img {
    width: 80px;
    height: 80px;
    margin: 5px 0;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .product-image-container .main-image {
    width: 240px; /* Ancho de la imagen principal */
    height: 240px; /* Altura de la imagen principal */
  }
  
  .product-image-container .main-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  